#menuContainer {
    /* background: linear-gradient(110deg, rgb(45, 8, 29), rgb(14, 26, 37), rgb(15, 32, 39));
    margin-bottom: 0px !important;
    background: linear-gradient(45deg,
            rgb(70, 23, 50),
            rgb(16, 71, 94)) border-box;
    max-width: 100vw;
    border: 0px !Important; */
    box-shadow: none;
    border: none !important;
}

#menu {
    border: 0px solid rgba(67, 80, 83, 0.184) !important;
    box-shadow: none !important;
}

#mainArea {
    max-width: 100vw;
}

.sectionTitle:not(.projects, .smallTitle) {
    border: none !important;
}

.project {
    max-width: 900px !important;
}


/* Then re-apply the filter */
.sectionContainer,
.section,
.projectsContainer,
.projectTitle,
.sectionText,
.project,
.video {
    border: none;
}


.imgAndText {
    border: none;
    box-shadow: none;
    /* background: rgb(7, 10, 16) !important; */
    /* background: rgb(14, 17, 22); */
    /* background: linear-gradient(45deg, rgb(23, 3, 14), rgb(16, 29, 34)); */
}

.sectionText,
.sectionTitle {
    background: rgb(7, 10, 16) !important;
}

.sectionText {
    backdrop-filter: blur(20px);
    box-shadow: none;
    border: 1px solid rgba(216, 112, 147, 0.177);
    border-top: 2px solid rgba(255, 255, 255, 0.535);
    border-bottom: 2px solid rgba(255, 255, 255, 0.554);
}

.sectionText {
    /* box-shadow: 0px 0px 30px 00px rgba(14, 26, 33, 0.38); */
}

.projectTitle {
    border-radius: 0px;
}

.wipe {
    background: url(../Images/backgrounds/nazar-synytsia-0ybIsh4UPYk-unsplash-bg-min.png);
    background-attachment: fixed;
    background-size: cover;
    border-width: 0px;
}

.imgAndText {
    border-radius: 50px;
}

.imgAndText::after,
.workflowtext h4::after,
.sectionTitle:not(.smallTitle)::before {
    content: "";
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /*1*/
    border: 2px solid transparent;
    /*2*/
    background: linear-gradient(80deg,
            rgb(133, 53, 85),
            rgb(44, 143, 161)) border-box;
    /*3*/
    -webkit-mask:
        /*4*/
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    /* -webkit-mask-composite: xor; */
    -webkit-mask-composite: source-out;
    /*5'*/
    mask-composite: exclude;
    pointer-events: none;
    /*5*/
}

@media screen and (max-aspect-ratio:5/8) {

    .sectionTitle:not(.smallTitle)::before,
    .imgAndText::after {
        border-radius: 1px !important;
        border-left: none !important;
        border-right: none !important;
    }

    .imgAndText::after {
        border-width: 10px;
        border-radius: 20px !important;
    }
}

.workflowtext h4 {
    /* background: rgba(0, 0, 0, 0.543); */
}

.workflowtext h4::after {
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}

.imgAndText::after {
    border-radius: 50px;
}