/* Make safari all black as mp4 will have black background (webm with transparency does not work on IOS) */
@supports (-webkit-touch-callout: none) {

    body {
        font-family: sans-serif;
        max-width: 100vw !important;
        overflow-x: hidden;
    }

    .mainArea {
        max-width: 100vw !important;
    }

    .projectCard .pCard {
        padding: 10px !important;
    }

    .projectCard h2 {
        margin-bottom: 0px;
    }


    .swiper-slide {
        align-items: center !important;
        justify-content: center !important;
        display: flex !important;
    }

    .swiper-interface {
        color: white !important;
    }

    .swiper-interface {
        color: white;
        z-index: 20;
        text-shadow: 0px 0px 10px rgb(149, 149, 149);
    }

    .swiper-button-next,
    .swiper-button-prev {
        pointer-events: all !important;
        /* background: red; */
        z-index: 20 !important;
        position: absolute;
        cursor: pointer;
        /* background: blue; */
        top: 50%;
        width: 5%;
        height: 20%;
        margin-left: 5px;
        margin-right: 5px;

    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        content: '' !important;
        background-image: url("../../../Images/icons/arrowRight.png");
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        position: relative;

        pointer-events: none;
        z-index: 2;
        opacity: 1;
        -webkit-filter: invert(0)brightness(100%)drop-shadow(1px 1px 4px rgb(158, 158, 158));
        filter: invert(0)brightness(100%)drop-shadow(1px 1px 4px rgb(158, 158, 158));
        /* filter: invert(0)brightness(890%)drop-shadow(1px 1px 10px rgb(203, 203, 203)); */
    }

    .swiper-button-prev:after {
        background-image: url("../../../Images/icons/arrowleft.png");
    }

    /* .swiper-pagination {
        background: rgba(13, 1, 1, 0.545);
    } */
    .swiperFooter {
        height: 30px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        right: 0px;
        background: rgba(88, 88, 88, 0.434);
        -webkit-backdrop-filter: blur(5px)brightness(80%);
        backdrop-filter: blur(5px)brightness(80%);
        z-index: 1 !important;
        pointer-events: none;
    }



    .swiper-pagination {
        height: 20px;
    }

    .swiper-pagination-bullet-active {
        color: white !important;
        background-color: white !important;
        -webkit-box-shadow: 0px 0px 10px rgb(159, 159, 159);
        box-shadow: 0px 0px 10px rgb(159, 159, 159);
    }

    .swiper-scroll {
        background: white;
    }

    #menuContainer,
    #expandMenu,
    #menu {
        /* background: linear-gradient(110deg, rgb(45, 8, 29), rgb(14, 26, 37), rgb(15, 32, 39)) !important; */

        background: linear-gradient(45deg,
                rgb(133, 53, 99),
                rgb(44, 128, 161)) border-box;
        max-width: 100vw;
    }

    .projectCard h2,
    .projectCard .cardFooter {
        background: linear-gradient(90deg,
                rgb(133, 53, 99),
                rgb(44, 128, 161)) border-box;
        width: 100%;
        display: -webkit-flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'roboto mono', 'sans-serif';
        height: fit-content;
        padding: 5px;
        font-weight: 400;
        color: white !important;


    }

    .projectCard .cardFooter {
        top: 90vh !important;
    }

    .sourceCode {
        color: white !important;
    }

    /* Then re-apply the filter */
    .sectionContainer,
    .section,
    .projectsContainer,
    .projectTitle,
    .sectionText,
    .project,
    .video,
    .imgAndText,
    .projectCard h2,
    .projectCard {
        border: none !important;
    }

    .sectionText {
        /* border: 1px solid rgba(208, 208, 208, 0.607) !important; */
        box-shadow: none !important;
    }



    /* Pseudo element creates curved gradient border */

    .imgAndText::after,
    .workflowtext h4::after,
    .projectCard::after,
    .sectionText::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 15px;
        /*1*/
        border: 4px solid transparent;
        /*2*/
        background: linear-gradient(90deg,
                rgb(75, 34, 57),
                rgb(29, 83, 104)) border-box;
        /*3*/
        -webkit-mask:
            /*4*/
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        /* -webkit-mask-composite: xor; */
        -webkit-mask-composite: source-out;
        /*5'*/
        mask-composite: exclude;
        pointer-events: none;
        /*5*/
    }

    .imgAndText::after,
    .projectCard::after {
        background: linear-gradient(90deg,
                rgb(133, 53, 99),
                rgb(44, 128, 161)) border-box;

    }


    /* change curved gradient border */
    .explanation::before {

        border-radius: 20px !important;
        border-width: 2px;

    }


    /* No side gradient borders on mobile */
    @media (max-width: 900px) {

        .projectCard::after,
        .sectionText::after,
        .explanation::before,
        .imgAndText::after,
        .workflowtext h4::after {
            border-radius: 0px !important;
            border: none;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
        }

        .projectCard h2 {
            border-radius: 0px;
        }
    }

    .workflowtext h4::after {
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;
    }

    .imgAndText::after {
        border-radius: 3vw !important;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }

    /* Image background doesn't work well on IOS 
and with black video bg, dark gre looks better */
    .projectsContainer,
    .project,
    .projectTitle,
    .scroll-bound,
    .content,
    .projectFooter,
    body,
    #project,
    #projectsContainer,
    .project,
    #mainarea,
    .section,
    video,
    .wipe {
        background: rgb(9, 12, 14) !important;
    }

    .project,
    .projectCard {
        background: black !important;
    }

    .contents {
        background: rgba(106, 100, 108, 0.256);
    }

    .imgAndText,
    .sectionText {
        background: rgb(29, 39, 54) !important;
    }

    .sectionTitle {
        border: none;
        border-radius: 0px;
        /* border: 2px solid pink !important; */
        border-bottom-width: 20px !important;
        /* border-top-width: 5px !important; */
        border-style: solid !important;
        border-image:
            linear-gradient(to right, rgb(133, 53, 99),
                rgb(44, 128, 161)) 0 0% 100% 0 !important;
    }

    .projectTitle {
        border-radius: 0px;
        max-width: 800px;
    }

    /* Video bg is black on IOS, this simulates what it will look like */
    video {
        background-color: black !important;
        box-shadow: 0px 0px 50px 30px black;
        scale: 1;
    }

    .section {
        width: calc(min(100vw, 600px)) !important;
        margin: auto;
    }
}